<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="admindashboard.css">
</head>
</head>
<body>
    
    <header>
        <h1><i class="fas fa-university"></i>Attendance Management System</h1>
        <h2>Welcome Admin</h2>
        <a href="" class=""btn>LogOut</a>
    </header>

    <aside>
        <header>
            <div>
                <i class="fas fa-bars"></i>Dashboard
            </div>
        </header>
        <ul>
            <li><h4><i class="fas fa-chalkboard"></i>Manage Classes</h4></li>
            <ul>
                <li><a href="courseadd.html"><i class="fa fa-pencil fa-fw"></i>Add New</a></li>
                <li><a href="viewclass.html"><i class="fa fa-link"></i>View all</a></li>
            </ul>
        </ul>
        <ul>
            <li><h4><i class="fas fa-chalkboard-teacher"></i>Manage Faculty</h4></li>
            <ul>
                <li><a href=""><i class="fa fa-pencil fa-fw"></i>Add New</a></li>
                <li><a href=""><i class="fa fa-link"></i>View all</a></li>
            </ul>
        </ul>
        <ul>
            <li><h4><i class="fas fa-book-reader" aria-hidden="true"></i>Manage Students</h4></li>
            <ul>
                <li><a href=""><i class="fa fa-pencil fa-fw"></i>Add New</a></li>
                <li><a href=""><i class="fa fa-link"></i>View all</a></li>
            </ul>
        </ul>
    </aside>

    <main>
        <div class="content-container">
            <!-- <iframe name="content" id="content>" tittle="Admin Dashboard">

            </iframe> -->
        </div>
    </main>
</body>
</html>