/* Reset some default styles for better alignment */
body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.teacher-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: px;
    transition: transform 0.2s;
}

.edit-button:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.add-student {
    text-align: center;
    margin-bottom: 20px;
}

.add-student button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-student button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

.remove-button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #ff0000;
    transform: scale(1.1)
}
