{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'css/class_mgmt.css'%}">
</head>
<body>
    <header>
        <h1>Class ID : {{ class_id}}</h1>
        <h1>Class Name : {{ class_name}}</h1>
        <div class="teacher-name">
            <label for="teacherName">Teacher's ID : {{ teacher_id }}      T</label>
            <label for="teacherName">eacher's Name : {{ teacher_name }}</label>
        </div>
    </header>
    <main>
        <div class="add-student">
            <form method="post" action="/class_mgmt/?subject_id={{ class_id }}">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Student ID</label>
                        <input type="text" class="form-control" id="student_id" name="student_id" placeholder="SXXXXXXXX">
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Add Student</button>
                </form>
        </div>
        <table>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Attendance</th>
                <!-- <th>Remove</th> -->
            </tr>
            {% for q in student_list %}
						  <tr>
							<td>{{q.student_id}}</td>
							<td>{{q.student_name}}</td>
							<td>{{q.student_attendance}}</td>
							<!-- <td><a href="/remove/?subject_id={{ q.subject_id }}">Edit</a></td> -->
						  </tr>
						  {% endfor %}
            
        </table>
    </main>
</body>
</html>
