{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>WELCOME</h1>
         <div class="card__container">
            <a href="StudentLogin" class="card__article">
               <img src="{% static 'img/img/student.png' %}" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description"></span>
                  <h3>Student Login</h3>
               </div>
            </a>

            <a href="TeacherLogin" class="card__article">
               <img src="{% static 'img/img/teacher.png' %}" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description"></span>
                  <h3>Teacher Login</h3>
               </div>
            </a>

            <a href="AdminLogin" class="card__article">
               <img src="{% static 'img/img/admin.jpg' %}" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description"></span>
                  <h3>Admin Login</h3>
               </div>
            </a>
         </div>
      </div>
</body>
</html>