{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/student_mgmt.css'%}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Student Attendance</h1>
            <p>Student ID: {{ student_id}}</p>
            <p>Student Name: {{ student_name}}</p>
        </header>
        <!-- <div>
            <button>Add Subject</button>
            <button>Remove Subject</button>
        </div> -->

        <table>
            <tr>
                <th>Subject</th>
                <th>Attendance Percentage</th>
                <th>View Detailed Attendance</th>
            </tr>
            {% for q in class_list %}
            <tr>
                <td>{{ q.0 }}</td>
                <td>{{ q.1 }}%</td>
                <td><a href="detailed_attendance_oops.html">View Detailed Attendance</a></td>
            </tr>
            {% endfor %}
            <!-- Add more subjects and attendance percentages as needed -->
        </table>

        <!-- Add buttons for "Add Subject" and "Remove Subject" -->
        
    </div>
</body>
</html>

