body {
  font-family: Arial, sans-serif;
  background-color: 	whitesmoke; /* New background color (light blue) */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, .teacher-info {
  text-align: center;
  margin-bottom: 40px;
}

.batches-list {
  margin-bottom: 40px;
}

.batches-list ul {
  list-style-type: none;
  padding: 0;
}

.batches-list ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.batches-list ul li:hover {
  transform: scale(1.02);
}

.batches-list ul li span {
  flex-grow: 1;
}

.batches-list ul li a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
