{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/admindashboard.css' %}">
    <style>
        aside ul a{
            line-height:70px;
            font-size:22px;
        }
        aside{
            height:100vh;
            margin-top:60px;
            padding-top:20px;
        }
        .content-container{
            margin-top:60px;
            padding-top:20px;
        }
        .card
        {
            width:500px;
        }
        .dashboard-container
        {
            justify-content:space-between;
        }
    </style>
</head>
</head>
<body>
    
    <header class="mainheader">
        <h1><i class="fas fa-university"></i>Attendance Management System</h1>
        <h2>Welcome Professor</h2>
        <a href="/logoutuser" class=""btn>LogOut</a>
    </header>

    <aside>
        <header>
            <a href="/teacherdashboard">
                <i class="fas fa-bars"></i>Dashboard
            </a>
        </header>
        <ul>
            <li><h4><i class="fas fa-chalkboard"></i>Manage Classes</h4></li>
            <ul>
                <li><a href="/teach"><i class="fa fa-link"></i>View all</a></li>
            </ul>
        </ul>
        <ul>
            <!-- <li><h4><i class="fas fa-chalkboard-teacher"></i>Manage Attendance</h4></li>
            <ul>
                <li><a href=""><i class="fa fa-pencil"></i>Take attendance</a></li>
                <li><a href=""><i class="fa fa-link"></i>View Attendance</a></li> -->
            </ul>
        </ul>
    </aside>

    <main>
        <div class="content-container">
            <h3>Faculty Portal</h3>
            <div class="dashboard-container">
                <div class="card purple">
                    <div class="icon icon-purple"><i class="fa fa-graduation-cap"></i></div>
                    <h3>Total Students</h3>
                    <h4>{{ num_students }}</h4>
                </div>
                <div class="card pink">
                    <div class="icon icon-pink"><i class="fa fa-book-open"></i></div>
                    <h3>Total Courses </h3>
                    <h4>{{ num_classes }}</h4>
                </div>
                <!-- <div class="card blue">
                    <div class="icon icon-blue"><i class="fa fa-pencil"></i></div>
                    <h3>Today's Attendance</h3>
                    <h4>Not Marked</h4>
                </div> -->
        </div>
    </main>
</body>
</html>